{% for board in boards %}
    <button class="btn btn-block" type="button" data-toggle="collapse" data-target=".collapse{{ board.id }}">
        <h5>{{ board.name }}</h5>
    </button>
    {% for list in get_lists(board.id) %}
        <div class="collapse collapse{{ board.id }} w-100">
            <button class="btn btn-block" type="button" data-toggle="collapse" data-target=".collapse{{ list.id }}">
                <h5>{{ list.name }}</h5>
            </button>
            {% for card in get_cards(list.id) %}
                <div class="collapse collapse{{ list.id }}">
                    <h5>{{ card.name }}</h5>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endfor %}
