{% for group in groups %}
    <button class="btn btn-block" type="button" data-toggle="collapse" data-target=".collapse{{ group['id']|replace("@", "")|replace(".", "") }}">
        <h5>{{ group['name'] }}</h5>
    </button>
    {% for unit in group.units %}
        <div class="collapse collapse{{ group['id']|replace("@", "")|replace(".", "") }} w-100">
            <button class="btn btn-block" type="button" data-toggle="collapse" data-target=".collapse{{ unit['id']|replace("@", "")|replace(".", "") }}">
                <h5>{{ unit['name'] }}</h5>
            </button>
            {% for element in unit.elements %}
                <label class="collapse collapse{{ unit['id']|replace("@", "")|replace(".", "") }}">
                    <input type="radio" name="sync" class="card-input-element d-none" value=" {{ element['id'] }} ">
                    <div class="card">
                        <h5>{{ element['name'] }}</h5>
                    </div>
                </label>
            {% endfor %}
        </div>
    {% endfor %}
{% endfor %}
