{% extends 'base.html' %}

{% block app_content %}
    <div class="row row-height">
        <div class="col list">
            {% if boards %}
                {% with groups=boards %}
                    {% include '_todos.html' %}
                {% endwith %}
            {% endif %}
        </div>
        <div class="col-2">
            <button>Sync It!</button>
        </div>
        <div class="col list">
            {% if calendars %}
                {% with groups=calendars %}
                    {% include '_todos.html' %}
                {% endwith %}
            {% endif %}
        </div>
    </div>
{% endblock %}
